<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dan.kaftan.game" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_backround_border_2"
        android:label="Easy Math"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LevelsMenu"
            android:exported="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".LevelInterducerActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game"
            android:screenOrientation="landscape" />
        <activity
            android:name=".welcome_screen"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndGame"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EndLevel"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>